body {
    scroll-behavior: smooth;
    font-family: "lato", sans-serif;
    margin: 0;
     background: rgb(239, 216, 219);
   }
header {
    color: rgb(212, 22, 140);
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(239, 216, 219);
}
#maintxt {
    width: 500px;
    padding: 20px;
    color: rgb(212, 22, 140);
    font-size: 35px;
    /* font-weight: bold;
    background: rgb(239, 239, 243); */
    line-height: 1.8;
}   
.glowdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /* background: rgb(248, 255, 210); */
}
.glowpic{
    width:600px; 
    height: 350px; 
    border-radius: 10%;
    align-content: center;
}
.glowtxt {
    width: 450px;
    padding: 15px;
    margin: 15px;
    font-size: 27px;
    line-height: 1.5;
    font-weight: medium;
    color: rgb(59, 33, 65);
    /* background: rgb(255, 188, 214); */
}
#donts {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(59, 33, 65);
    background: rgb(209, 191, 194);
} 
#harsh{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
#harshtxt{
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
     color: rgb(212, 22, 140);
}
.harshtxt{
    padding-left: 0;
    display: flex;
    justify-content: start;
}
#advert{
    height: 500px;
    width: 700px;
    color: rgb(209, 191, 194);
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(79, 51, 85);
}
.advert{
    display: flex;
    justify-content: center;
    /* width: 8rem;
    height: 45rem;
    background: rgb();*/
}
#adverttxt{
    line-height: 35px;
}
.carousel-wrapper {
    border: 2px solid rgb(59, 33, 65);
    display: flex;
    overflow-x: auto;
    width: 380px; 
    height: 220px;
    position: relative;
    /* /* max-width: 90%; */
    margin: 10px auto; 
}
.carousel-wrapper ::-webkit-scrollbar {
    display: none;
}
.carousel {
    display: flex;
    animation: spin;
    gap: 5px;
    /* width: 400px;  */
    animation: spin 5s infinite linear;
}
/* https://v0.app/chat/uni-hub-dashboard-design-2-OfV9AKCZTS7?ref=WJNUQ5 */
.udes{
    /* width: 400px; 
    height: 300px;  */
    align-content: center;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
#button{
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    /* background: whitesmoke; */
    color:  rgb(212, 22, 140);
    border: 2px solid rgb(90, 90, 124) ;
    border-radius: 5px;
}
footer {
    background: rgba(53, 53, 53, 0.89);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-bottom: 0;   
}
@media(max-width:480px) {
        #header {
        font-size: 12px;
        font-weight: lighter;
    }
    #main{
       display: flex;
       flex-direction: column;
       padding: 7px;
       margin-left: 12rem;
    }
    #maintxt{
        font-size: 20px;
        font-weight: 100;
        height: 150px;
    } 
    .glowdiv{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    img {
    width:450px; 
    height: 280px; 
    margin: 5px;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
    #harsh {
    font-size: 18px;
}
.harshtxt{
    font-size: 15px;
}
    #donts{
    height: 300px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;  
    position: relative;
    left: 2rem; 
}
#advert, .advert{
    width: 480px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;  
    position: relative;
    left: 1rem; 
}
#adverttxt{
    font-size: 18px;
}
button{
    width: 100px;
    height: 30px;
    font-size: 12px;
    position: relative;
    left: 10rem;
    /* margin-top: 10px; */
}
footer{
    height: 60px;
    font-size: 12px;
}
 
}


@media  (min-width:481px) and (max-width: 860px) {
}

@media  (min-width:861px) and (max-width:1024px) {
    
}

@media  (min-width: 1024px) {
    
}